body {
  margin: 0;
  min-height: 100vh;
  background: #f2f4f8;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}


.todo-card {
  width: 360px;
  margin: 40px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.todo-header {
  background: linear-gradient(135deg, #0d6efd, #1e90ff);
  color: white;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
}

.todo-body {
  padding: 16px;
}

/* SEARCH BAR */
.search-box {
  display: flex;
  margin-bottom: 16px;
}

.search-box input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}

.search-box button {
  width: 44px;
  border: 1px solid #ccc;
  background: #e9ecef;
  border-radius: 0 6px 6px 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* ADD BAR */
.add-box {
  display: flex;
  margin-top: 16px;
}

.add-box input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 6px 0 0 6px;
  font-size: 14px;
}

.add-box button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 0 18px;
  font-weight: bold;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.todo-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.todo-complete {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  color: red;
  cursor: pointer;
}

.clear-btn {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background: #343a40;
  color: white;
  border: none;
}

.add-box {
  display: flex;
  margin-top: 16px;
}

.add-box input {
  flex: 1;
  padding: 8px;
}

.add-box button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 0 16px;
}
